body {
    background-color: lightgray;
}
#content-wrapper {
    width: 100%;
}
#content {
    float: left;
    width: 60%;
}
#sidebar {
    float: right;
    width: 40%;
}
footer {
    width: 100%;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.block {
    margin: 10px 0;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
#main-menu li {
    display: inline-block;
    margin: 0 10px;
}
.menu li {
    list-style: none;
}